.sea1{
    border: 1px solid black;
    height: 630px;
    margin: 20px;
    background-color: black;
    border-radius: 10px;
}
.nav{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    border-radius: 10px;
    position: fixed;
}
h3{
    margin-left: 150px;
}
.sea2{
    justify-content: center;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sea3{
    background-color: rgba(189, 189, 49, 0.793);
    color: rgb(8, 108, 195);
    font-weight: bold;
}
span{
    color: darkorange;
}
.sea4{
    color: dimgrey;
    font-weight: lighter;
    font-style:italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sea5{
    color: darkgray;
}

section{
    height: 100vh;
    background: rgba(21, 16, 16, 0.776);
    padding: 5rem;
    margin: .5rem;
    border-radius: 5px;
}
.about img{
    border-radius: 1rem;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-content{
    color: whitesmoke;
    line-height: 2rem;
}
.about-content h2{
    font-size: 3rem;
}
.about-content h4{
    font-size: 1.7rem;
}

/* sevices */

.service h1{
    text-align: center;
    color: white;
    margin-top: .5rem;
}

.service-container{
    display: flex;
}
.service
/* portfolio */
.Portfolio h2{
    color: white;
    color: white;
    margin-top: .5rem; 
    text-align: center;
}
.Contact h2
{
    text-align: center;
    color: white;
}
.card img{
    width: 100%;
    height: 100%;
}
.Portfolio .container{
    justify-content: center;
    align-items: center;
    display: flex;
}
.card{
    margin-top: 5rem;
}
form .container{
    border-radius: 2rem;
}

/* contact */

button{
    align-items: center;

    
}